
@{
    ViewBag.Title = "manager";
}

<h2>manager page</h2>
<p>
    @Html.ActionLink("CARS", "ManagerCarsList")
</p>
<p>
    @Html.ActionLink("CAR TYPES", "ManagerCarTypesList")
</p>
<p>
    @Html.ActionLink("USERS", "ManagerUsersList")
</p>
<p>
    @Html.ActionLink("ORDERS", "ManagerOrderssList")
</p>
<p>
    @Html.ActionLink("RETURNING A CAR", "employee")
</p>
