@model Cars.Models.CarType

@{
    ViewBag.Title = "ShowCar";
}

<style>
    .glyphicon {
        margin-right: 5px;
    }

    .thumbnail {
        margin-bottom: 20px;
        padding: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }

    .item.list-group-item {
        float: none;
        width: 100%;
        background-color: #fff;
        margin-bottom: 10px;
    }

        .item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
            background: #428bca;
        }

        .item.list-group-item .list-group-image {
            margin-right: 10px;
        }

        .item.list-group-item .thumbnail {
            margin-bottom: 0px;
        }

        .item.list-group-item .caption {
            padding: 9px 9px 0px 9px;
        }

        .item.list-group-item:nth-of-type(odd) {
            background: #eeeeee;
        }

        .item.list-group-item:before, .item.list-group-item:after {
            display: table;
            content: " ";
        }

        .item.list-group-item img {
            float: left;
        }

        .item.list-group-item:after {
            clear: both;
        }

    .list-group-item-text {
        margin: 0 0 11px;
    }

    /*a.a-btn {
        display: block;
        width: 100px;
        height:30px;
        align-content:center;
        background-color:lightgrey
    }*/
</style>

<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datepicker.js"></script>

<script>
    function validate(manifacturer, model) {
        var start = document.getElementById("startDate").value;
        var end = document.getElementById("endDate").value;
        if (start == "" && end == "") {
            $("#startDate").css({ "borderColor": "red", "border-width": "thick" });
            $("#endDate").css({ "borderColor": "red", "border-width": "thick" });
            $("#startDate").popover({
                title: 'Warning!',
                content: 'date must be filled',
                placement: 'bottom'
            }).popover('show');
            $('html, body').animate({
                scrollTop: $("#datepicker").offset().top
            }, 500);
            return false;
        }
        else if (start == "") {
            $("#startDate").css({ "borderColor": "red", "border-width": "thick" });
            $("#startDate").popover({
                title: 'Warning!',
                content: 'date must be filled',
                placement: 'bottom'
            }).popover('show');
            $('html, body').animate({
                scrollTop: $("#datepicker").offset().top
            }, 500);
            return false;
        }
        else if (end == "") {
            $("#endDate").css({ "borderColor": "red", "border-width": "thick" });
            $("#endDate").popover({
                title: 'Warning!',
                content: 'date must be filled',
                placement: 'bottom'
            }).popover('show');
            $('html, body').animate({
                scrollTop: $("#datepicker").offset().top
            }, 500);
            return false;
        }

        var items = localStorage.interests;
        if (localStorage.interests == null) {
            localStorage.interests = manifacturer + " " + model;
        }
        else if (!items.includes(manifacturer + " " + model)) {
            localStorage.interests += "," + manifacturer + " " + model;
        }
    }
    function sendFilter() {
        var gear = $('#slctGear').val();
        if (gear == null) {
            gear = "0";
        }
        var year = $('#slctYear').val();
        if (year == null) {
            year = "0";
        }
        var mani = $('#slctMani').val();

        var model = $('#slctModel').val();

        var freeText = $('#txtSearch').val();

        $.post('InitFilter',
            { filterGear: gear, filterYear: year, manifacturer: mani, model: model, freeText: freeText });
    }
    $(document).ready(function () {
        $('#datepicker').datepicker({
            startDate: "today",
            format: "dd MM yyyy",
            todayBtn: "linked",
            autoclose: true,
            todayHighlight: true
        });
        var dateStart = new Date("@ViewBag.start");
        var dateEnd = new Date("@ViewBag.end");
        if (dateStart.toString() != "01/01/0001") {
            $("#startDate").datepicker('update', dateStart);
        }
        if (dateEnd.toString() != "01/01/0001") {
            $("#endDate").datepicker('update', dateEnd);
        }
        $('#list').click(function (event) {
            event.preventDefault();
            $('#products .item').addClass('list-group-item');
        });
        $('#grid').click(function (event) {
            event.preventDefault();
            $('#products .item').removeClass('list-group-item');
            $('#products .item').addClass('grid-group-item');
        });
        $("#startDate").change(function () {
            $("#startDate").css("borderColor", "green").popover('destroy');
            $.post('InitStartDate', { startDate: document.getElementById("startDate").value });
        });
        $("#endDate").change(function () {
            $("#endDate").css("borderColor", "green").popover('destroy');
            $.post('InitEndDate', { endDate: document.getElementById("endDate").value });
        });
        var temp;
        var models = "@ViewBag.model";
        models = models.slice(0, -1);
        var modelsArray = models.split(",");
        $("#slctMani").change(function () {
            $("#slctModel")
                .empty()
                .removeAttr('readonly')
                .append($("<option></option>")
                .attr({ "value": "", "disabled": "disabled", "selected": "selected", "hidden": "hidden" })
                .text("Model"));
            if ($("#slctMani").val() == "") {
                $.each(modelsArray, function (i, value) {
                    temp = value.split(" ");
                    $("#slctModel").append($("<option></option>")
                        .attr("value", temp[1])
                        .text(value));
                });
            }
            else {
                $.each(modelsArray, function (i, value) {
                    temp = value.split(" ");
                    if (temp[0] == $("#slctMani").val()) {
                        $("#slctModel").append($("<option></option>")
                            .attr("value", temp[1])
                            .text(temp[1]));
                    }
                });
            }
        });
    });
</script>

<div class="container">
    <div class="well well-sm">
        <strong>Cars</strong><br />
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th-list">
                </span>List
            </a> <a href="#" id="grid" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th"></span>Grid
            </a>
        </div>
    </div>

    <div class="input-daterange input-group" id="datepicker">
        <span class="input-group-addon">from</span>
        <input type="text" class="input-sm form-control"
               name="startDate" id="startDate" placeholder="Start Date" />
        <span class="input-group-addon">to</span>
        <input type="text" class="input-sm form-control"
               name="endDate" id="endDate" placeholder="End Date" />
    </div>
    <br />

    <table style="width: 100%; margin-left: auto; margin-right: auto;">
        <tbody>
            <tr>
                <td>
                    <div style='width:70%; margin-left:0%'>
                        <select class="form-control" id="slctGear" oninput="sendFilter()">
                            <option disabled selected hidden>Gear</option>
                            <option value="0">ALL</option>
                            <option value="1">MANUAL</option>
                            <option value="2">AUTOMATIC</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div style='width:70%; margin-left:0%'>
                        <select class="form-control" id="slctYear" oninput="sendFilter()">
                            <option disabled selected hidden>Year</option>
                            <option value="0">ALL</option>
                            @foreach (var item in ViewBag.years)
                            {
                            <option value="@item">@item</option>
                            }
                        </select>
                    </div>
                </td>
                <td>
                    <div style='width:70%; margin-left:0%'>
                        <select class="form-control" id="slctMani" oninput="sendFilter()">
                            <option value="" disabled selected hidden>Manifacturer</option>
                            <option value="">ALL</option>
                            @foreach (var item in ViewBag.mani)
                            {
                            <option value="@item">@item</option>
                            }
                        </select>
                    </div>
                </td>
                <td>
                    <div style='width:70%; margin-left:0%'>
                        <select readonly class="form-control" id="slctModel" oninput="sendFilter()">
                            <option value="" disabled="disabled" selected="selected" hidden>Model</option>
                            @*<option value="">ALL</option>*@
                            @*@foreach (var item in ViewBag.model)
                                {
                                    <option value="@item">@item</option>
                                }*@
                        </select>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <table style="width: 100%; margin-left: 0%; margin-top: 15px;">
        <tbody>
            <tr>
                <td>
                    <div style='width:100%; margin-left:0%'>
                        <input type="text" class="form-control" id="txtSearch" name="txtSearch" placeholder="Free text" value="" onblur="sendFilter()" />
                    </div>
                </td>
                <td>
                    <div style='width:77%; margin-right:0%'>
                        <a href="CarsList">
                            <input type="button" class="btn btn-group-justified" name="name" value="search" />
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <br />
    <div id="products" class="row list-group">
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img style="max-height:150px;" class="group list-group-image" src=@Model.picture alt="@Model.ModelName picture" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        @Model.ManifacturerName @Model.ModelName
                    </h4>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $@Model.DailyPrice per day
                            </p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            @Html.ActionLink("Continue", "Details", new { id = Model.CarTypeID },
                               htmlAttributes: new { @class = "btn btn-primary", @onclick = "return validate('" + Model.ManifacturerName + "','" + Model.ModelName + "')" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


